
.new img{float: left;
    width: 30%;
    margin: 5px;
    height: 200px;
    clear: both;
}
h4{ float:right;
        width: 50%;
        margin: 0px;}
p{
     margin: 0px;
}
.new1{
    background-image: url("q1.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 350px;
}
.new{
    color: black;
}
.new .box {
    display: flex;
    justify-content: center;
}
.new a {
    text-decoration: unset;
}
.new .box img {
    width: 300px;
    margin-right: 15px;
}
h2 a {
    text-decoration: unset;
    color: #000;
}
